@layer base {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: var(--size-40) 1fr;
        height: 100%;
        background-color: var(--bg);
        color: var(--base-colour);
    }
    input {
        border: none;
        background: none;
        box-shadow: none;
        border-radius: 0;
    }
    input[type="date"] {
        display: block;
        width: 100%;
        height: var(--size-40);
        border: 2px solid var(--base-grey);
        outline: 0;
        font-size: var(--text-small);
        letter-spacing: 1px;
        background-color: transparent;
    }

    button {
        color: var(--base-colour);
    }
    select {
        display: block;
        width: 100%;
        height: var(--size-40);
        border: 2px solid var(--base-grey);
        outline: 0;
        font-size: var(--text-small);
        letter-spacing: 1px;
        background-color: transparent;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space);
    }
}
