@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Open Sans Regular"),
        local("OpenSans-Regular"),
        url("https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Open Sans Regular"),
        local("OpenSans-Regular"),
        url("https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local("Open Sans SemiBold"),
        local("OpenSans-SemiBold"),
        url("https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2") format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local("Open Sans SemiBold"),
        local("OpenSans-SemiBold"),
        url("https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
    --colour-red-300: hsl(0, 100%, 70%);
    --colour-cyan-100: hsl(180, 100%, 90%);
    --colour-cyan-700: hsl(180, 100%, 30%);
    --colour-magenta-100: hsl(300, 100%, 90%);
    --colour-fresh-blue-500: hsl(208, 100%, 50%);
    --colour-dust-red-500: hsl(359, 100%, 65%);
    --colour-volcano-400: hsl(19, 100%, 72%);
    --colour-sunrise-yellow-500: hsl(54, 100%, 62%);
    --colour-lime-700: hsl(79, 95%, 36%);
    --colour-indigo-400: hsl(269, 73%, 71%);

    --colour-neutral-100: #ffffff;
    --colour-neutral-200: #fafafa;
    --colour-neutral-300: #f5f5f5;
    --colour-neutral-400: #ededed;
    --colour-neutral-500: #d9d9d9;
    --colour-neutral-600: #cacfd2;
    --colour-neutral-700: #8c8c8c;
    --colour-neutral-800: #595959;
    --colour-neutral-900: #414141;
    --colour-neutral-1000: #262626;
    --colour-neutral-1100: #1f1f1f;
    --colour-neutral-1200: #141414;
    --colour-neutral-1300: #000000;

    --vh: 100vh;
    --size-40: 40px;
    --gap-10: 10px;
    --gap-20: 20px;
    --sidebar-width: 40px;
    --main-width: 100%;
    --details-width: 0;
    --lists-visibility: none;
    --modal-width: 400px;
    --base-colour: var(--colour-neutral-900);
    --base-grey: var(--colour-neutral-400);
    --base-red: var(--colour-red-300);
    --primary: var(--colour-fresh-blue-500);
    --background: var(--colour-neutral-300);

    height: 100%;
    overflow: hidden;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}
body,
input,
button,
textarea {
    font-family: "Open Sans", Arial, sans-serif;
}
input {
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--size-40) 1fr;
    height: 100%;
    background-color: var(--background);
    color: var(--base-colour);
}
button {
    color: var(--base-colour);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-10);
}

.btn {
    border: 0;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        filter: brightness(130%);
    }

    &.default {
        background-color: var(--base-grey);
    }

    &.primary {
        background-color: var(--primary);
        color: #fff;
    }

    &.warning {
        background-color: var(--base-red);
        color: #fff;
    }
}

.header__start {
    display: flex;
    align-items: center;
    gap: var(--gap-10);
}
.hidden {
    display: none;
}
.app__logo {
    background-image: url("/assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}
.app__logo {
    display: flex;
    align-items: center;
    width: var(--size-40);
    height: var(--size-40);
    justify-content: center;
}

/* .sidebar {
    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    background-color: var(--base-grey);
    overflow: hidden;
} */
/* .sidebar:has(.header input:checked) {
    --sidebar-width: 290px;
    --lists-visibility: inline;
    background-color: #fff;
} */
/* .sidebar__header {
    display: flex;
    align-content: center;
    border-bottom: 2px solid var(--background);
    padding: 10px;
}
.sidebar__header > label {
    display: inline-flex;
} */
.main {
    min-width: 250px;
    width: var(--main-width);
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: var(--details-width);
}

.detail__my-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tasks__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks__list > li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    background-color: #fff;
}
.tasks__list > li:hover,
.tasks__list > li:has(input:checked) {
    background-color: var(--base-grey);
}
.add-tasks {
    display: flex;
    align-items: center;
    width: 100%;
}
#task {
    font-size: 1.3rem;
    color: var(--primary);
    padding: 16px 12px;
    width: 100%;
}
#task::placeholder {
    color: var(--primary);
}
#task:focus {
    outline: none;
    color: var(--base-colour);
}
#task:focus ~ .add-task {
    color: var(--primary);
}
#task:focus::placeholder {
    color: var(--base-colour);
}
.add-task {
    background: transparent;
    border: transparent;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
}
.add-task:focus {
    outline: none;
}
.add-task--label {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    cursor: pointer;
    text-align: center;
    line-height: 28px;

    mask: url("/assets/icons/add-icon.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    background-color: var(--base-colour);
}
.add-task--label:hover {
    background-color: var(--primary);
}
.show-details {
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 1.2rem;
    color: var(--base-colour);
    padding: 8px 0;
    cursor: pointer;
}
.completed .show-details {
    text-decoration: line-through from-font var(--primary);
}
.completed-ckeck,
.importance-check,
.my-day {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    background-color: var(--base-colour);
    cursor: pointer;
}
.completed-ckeck {
    mask: url("/assets/icons/icon-square.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
}
.completed .completed-ckeck {
    mask: url("/assets/icons/icon-check-square.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    background-color: var(--primary);
}
.importance-check {
    mask: url("/assets/icons/icon-star.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
}
.important .importance-check {
    mask: url("/assets/icons/icon-star-solid.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    background-color: var(--primary);
}
.my-day {
    mask: url("/assets/icons/today-icon.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
}
.today .my-day {
    background-color: var(--primary);
}
.detail__title {
    display: flex;
    align-items: center;
    gap: var(--gap-10);
}
.title,
.note {
    width: 100%;
    color: var(--base-colour);
    font-size: 0.9rem;
    padding: 8px 6px;
}
.title:focus,
.note:focus {
    outline: none;
}
.title {
    text-overflow: ellipsis;
}
.completed .title {
    text-decoration: line-through from-font var(--primary);
}
.title:focus {
    background-color: var(--base-grey);
}
.tasks {
    overflow-y: auto;
    height: calc(var(--vh) - (2 * var(--size-40) + 60px));
}
/* .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--background);
    cursor: pointer;
    gap: var(--gap-10);

    .name {
        flex: 1 1 auto;
    }
}
.list span:not(.icon) {
    font-size: 0.8rem;
    display: var(--lists-visibility);
}
.list.hidden {
    display: none;
}
.list:hover {
    background-color: var(--base-grey);
}
.list .icon {
    background-color: var(--base-colour);
    width: 20px;
    height: 20px;
} */
.today-icon {
    mask: url("/assets/icons/today-icon.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 20px;
}
.icon-star {
    mask: url("/assets/icons/icon-star.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 20px;
}
.icon-check-square {
    mask: url("/assets/icons/icon-check-square.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 20px;
}
.icon-tasks {
    mask: url("/assets/icons/icon-tasks.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 20px;
}

.bars-progress-icon {
    background-image: url("/assets/icons/bars-progress-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.calendar-icon {
    background-image: url("/assets/icons/calendar-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.clipboard-icon {
    background-image: url("/assets/icons/clipboard-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.clipboard-list-icon {
    background-image: url("/assets/icons/clipboard-list-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.list-ul-icon {
    background-image: url("/assets/icons/list-ul-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.file-icon {
    background-image: url("/assets/icons/file-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.folder-icon {
    background-image: url("/assets/icons/folder-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.folder-open-icon {
    background-image: url("/assets/icons/folder-open-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.bell-icon {
    background-image: url("/assets/icons/bell-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.bookmark-icon {
    background-image: url("/assets/icons/bookmark-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.pen-icon {
    background-image: url("/assets/icons/pen-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}
/* .count {
    background-color: var(--primary);
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    min-width: 30px;
    text-align: center;
    padding: 0 5px;
    font-weight: 600;
} */
.details__body {
    height: calc(var(--vh) - (2 * var(--size-40)));
}
.details__body > div {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 12px;
}
.details__body > div:first-child {
    margin-top: 0;
}
.detail__note > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#note-editor {
    width: 100%;
    height: 300px;
}
/* TODO: Check new CSS features as nesting */
rm-details .ql-toolbar.ql-snow,
rm-details .ql-container.ql-snow {
    border: 1px solid var(--base-grey);
}
.add-note {
    margin-top: 10px;
}
.rename,
.add-note {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 0.8rem;
    color: var(--primary);
    font-weight: 600;
    padding: 0;
    cursor: pointer;
}
.rename:hover,
.add-note:hover {
    border-bottom-color: var(--primary);
}
.rename:focus,
.add-note:focus {
    outline: none;
}
.remove,
.close {
    background: transparent;
    border: 0;
    width: 36px;
    height: 32px;
    cursor: pointer;
    line-height: 1px;
}
.remove:focus,
.close:focus {
    outline: none;
}
.remove {
    border-left: 1px solid var(--base-grey);
}
.trash-icon {
    display: block;
    mask: url("/assets/icons/trash-icon.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 16px;
    background-color: var(--base-colour);
    width: 27px;
    height: 27px;
}
.remove:hover .trash-icon {
    background-color: var(--base-red);
}
.close {
    border-right: 1px solid var(--base-grey);
}
.close-icon {
    display: block;
    mask: url("/assets/icons/close-icon.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 27px 18px;
    background-color: var(--base-colour);
    width: 27px;
    height: 27px;
}
.close:hover .close-icon {
    background-color: var(--primary);
}
.menu {
    width: 20px;
    height: 20px;
    cursor: pointer;

    background-image: url("/assets/icons/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}
.list-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 12px;
    height: var(--size-40);
}
.list-title {
    letter-spacing: 2px;
}
.creation-date {
    font-size: 0.8rem;
}

rm-task-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

rm-task-details .ql-toolbar.ql-snow {
    width: 100%;
}

.modal {
    border: none;
}
.modal__content {
    width: var(--modal-width);
    padding: 20px;
    background: #fff;
}
.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 10px;
}
@media (hover: hover) and (pointer: fine) {
    .completed-ckeck:hover,
    .importance-check:hover,
    .my-day:hover {
        background-color: var(--primary);
    }
}
@media only screen and (max-width: 880px) {
    #app:has(.tasks__list input:checked):has(.sidebar__header input:checked) .sidebar {
        --sidebar-width: 40px;
        --lists-visibility: none;
        background-color: var(--base-grey);
    }
}
@media only screen and (max-width: 630px) {
    #app:has(.tasks__list input:checked) .main {
        visibility: hidden;
        min-width: 0;
        margin-left: -20px;
        --main-width: 0;
    }

    #app:has(.tasks__list input:checked) .details {
        --details-width: calc(100% - var(--size-40) - var(--gap-20));
    }

    .modal {
        --modal-width: 320px;
    }
}
@media only screen and (max-width: 580px) {
    #app:has(.sidebar__header input:checked) .sidebar {
        --sidebar-width: 40px;
        --lists-visibility: none;
        background-color: var(--base-grey);
    }
}
