@layer reset, base, components, utilities;

:root {
    /*color-scheme: light dark;*/

    /* Text */
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    --text-xx-small: 0.65rem; /*10px*/
    --text-x-small: 0.75rem; /*12px*/
    --text-small: 0.85rem; /*13.6px*/
    --text-normal: 1rem; /*16px*/
    --text-medium: 1.25rem; /*20px*/
    --text-large: 1.5rem; /*24px*/
    --text-x-large: 2rem; /*32px*/
    --text-xx-large: 2.5rem; /*40px*/
    --text-xxx-large: 5rem; /*80px*/

    /* Spacing */
    --space-none: 0;
    --space-x-small: 4px;
    --space-small: 8px;
    --space: 12px;
    --space-medium: 16px;
    --space-large: 20px;
    --space-x-large: 24px;

    /* Colours: fixed */
    --colour-white: #ffffff;
    --colour-black: #000000;

    --colour-neutral-200: #fafafa; /* not used */
    --colour-neutral-300: #f5f5f5;
    --colour-neutral-400: #ededed;
    --colour-neutral-500: #d9d9d9;
    --colour-neutral-600: #cacfd2;
    --colour-neutral-700: #8c8c8c;
    --colour-neutral-800: #595959; /* not used */
    --colour-neutral-900: #414141;
    --colour-neutral-1000: #262626; /* not used */
    --colour-neutral-1100: #1f1f1f; /* not used */
    --colour-neutral-1200: #141414; /* not used */

    --colour-red-300: hsl(0, 100%, 70%);
    --colour-cyan-800: hsl(180, 100%, 20%);
    --colour-cyan-700: hsl(180, 100%, 30%);
    --colour-pink-500: hsl(330, 100%, 50%);
    --colour-fresh-blue-500: hsl(208, 100%, 50%);
    --colour-sunset-orange-600: hsl(31, 96%, 53%);
    --colour-volcano-400: hsl(19, 100%, 72%);
    --colour-sunrise-yellow-1000: hsl(44, 100%, 19%);
    --colour-lime-700: hsl(79, 95%, 36%);
    --colour-indigo-400: hsl(269, 73%, 71%);

    /* Colors: Named */
    --base-colour: var(--colour-neutral-900);
    --base-grey: var(--colour-neutral-400);
    --base-red: var(--colour-red-300);
    --primary: var(--colour-fresh-blue-500);
    --bg: var(--colour-neutral-300);
    --bg-canvas: var(--colour-neutral-1000);
    --swatch: var(--colour-neutral-900);

    --vh: 0;
    --size-40: 40px;
    --sidebar-width: 40px;
    --main-width: 100%;
    --details-width: 0;
    --lists-visibility: none;
    --modal-width: 400px;
}
