package components

templ LandingScreen() {
	<div class="landing-screen">
  		<div>
 			@ScreenLogo()
    	</div>
       	<div class="instructions">
      		<p><span>New List</span><span><i class="key ctrl"></i><i class="key n"></i></span></p>
           	<p><span>Select List</span><span><i class="key ctrl"></i><i class="key numbers"></i></span></p>
           	<p><span>Search</span><span><i class="key ctrl"></i><i class="key f"></i></span></p>
       	</div>
   	</div>
}
