package components

templ NoSearchResultsScreen() {
	<div class="search-screen">
  		<div>
 			@ScreenLogo()
    	</div>
       	<div class="message">
      		<p>No Tasks Where Found</p>
       	</div>
   	</div>
}
