{{define "details"}}
    <rm-task-details task-id="{{itoa .Task.ID}}">
        <div class="details__body">
            <div class="detail__title">
                <form
                  class="add-tasks"
                  hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/title"}}"
                  method="POST"
                  hx-swap="outerHTML"
                  hx-target="{{concat ".tasks__list > li[data-id='" (itoa .Task.ID) "']"}}">
                    <input
                        class="title"
                        name="title"
                        type="text"
                        value="{{.Task.Title}}"
                        minlength="3"
                        maxlength="255"
                        hx-validate="true"/>
                    <button class="rename" type="submit">{{call .T "rename"}}</button>
                </form>
            </div>
            <div class="details__priority">
                <label for="priority">{{call .T "priority"}}</label>
                <select
                    name="priority"
                    hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/priority"}}"
                    hx-trigger="change"
                    hx-swap="outerHTML"
                   	hx-target="{{concat ".tasks__list > li[data-id='" (itoa .Task.ID) "']"}}">
                    {{range $i, $value := priorityValues}}
                        {{if eq $i $.Task.Priority}}
                            <option value="{{itoa $i}}" selected>{{$value}}</option>
                        {{else}}
                            <option value="{{itoa $i}}">{{$value}}</option>
                        {{end}}
                    {{end}}
                </select>
            </div>
            <div class="details__schedule">
            	<label>
             		<span>{{call .T "start_date"}}</span>
             		<input
               			name="from"
                  		type="date"
                    	value="{{formatDateOnly .Task.StartAt}}"
                      	hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/date-start"}}"
                       	hx-trigger="change"
                        hx-swap="outerHTML"
                        hx-target="{{concat ".tasks__list > li[data-id='" (itoa .Task.ID) "']"}}">
             	</label>
             	<label>
              		<span>{{call .T "due_date"}}</span>
              		<input
                		name="to"
                  		type="date"
                    	value="{{formatDateOnly .Task.EndAt}}"
                     	hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/date-end"}}"
                     	hx-trigger="change"
                      	hx-swap="outerHTML"
                       hx-target="{{concat ".tasks__list > li[data-id='" (itoa .Task.ID) "']"}}">
              	</label>
            </div>
            <div class="detail__note">
                <form
                    hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/description"}}"
                    hx-vals='js:{description: getDescription()}'
                    hx-swap="none" method="POST">
                    <div id="note-editor" class="ql-container ql-snow">{{rawHTML .Task.Description}}</div>
                    <button class="add-note" type="submit">{{call .T "add"}}</button>
                </form>
            </div>
        </div>
        <div class="details__footer">
            <button
            	class="close"
            	hx-put="{{concat "/partials/tasks/" (itoa .Task.ID) "/remove-persistence"}}"
            	hx-swap="none">
                <i class="close-icon"></i>
            </button>
            <span class="creation-date" title="Creation date">{{formatDate .Task.CreatedAt}}</span>
            <button class="remove">
                <i class="trash-icon"></i>
            </button>
        </div>
        {{template "delete-modal" (dict "ID" .Task.ID "T" .T)}}
    </rm-task-details>
{{end}}

{{define "delete-modal"}}
    <dialog class="modal">
        <div class="modal__content">
            <span>{{call .T "delete_task_warning"}}</span>
            <div class="modal__actions">
                <button class="btn default">{{call .T "cancel"}}</button>
                <button
                  class="btn warning"
                  hx-delete="{{concat "/partials/tasks/" (itoa .ID)}}"
                  hx-swap="outerHTML"
                  hx-target="{{concat ".tasks__list > li[data-id='" (itoa .ID) "']"}}">{{call .T "delete_task"}}</button>
            </div>
        </div>
    </dialog>
{{end}}
