{{define "sidebar"}}
	<rm-sidebar>
        {{template "sidebar-header"}}
        {{template "search"}}
        {{template "sidebar-lists" (dict "Lists" .Lists "Persistence" .Persistence)}}
        {{template "sidebar-footer" .Lists}}
    </rm-sidebar>
{{end}}

{{define "sidebar-header"}}
	<div class="header">
        <label>
        <span class="menu" aria-label="Toggle sidebar"></span>
        <input class="hidden" type="checkbox" value="1" checked/>
        </label>
    </div>
{{end}}

{{define "search"}}
	<div
       	class="searchbox__container"
       	hx-get="/partials/lists/all"
       	hx-target=".lists__container"
       	hx-trigger="submit delay:20ms">
		<form
			class="searchbox__form"
			hx-post="/partials/lists/search"
	       	method="POST"
		    hx-trigger="submit, keyup[enterKey]"
		    hx-target=".main">
		 	<input
				type="text"
				class="searchbox"
				name="query"
				autocomplete="off"
				placeholder="Search"
				required
				minlength="3"
				hx-validate="true"/>
			<i class="icon clear-icon"></i>
			<button type="submit" class="searchbox__button">
				<i class="icon search-icon"></i>
			</button>
		</form>
    </div>
{{end}}

{{define "sidebar-lists"}}
	<div class="lists__container">
		<!-- Pinned Lists -->
		<div class="pinned-lists">
	     	{{range .Lists}}
	     		{{if .Pinned}}
	     			{{template "list-item" (dict "List" . "SelectedList" $.Persistence.ListId)}}
	     		{{end}}
	     	{{end}}
		</div>
		<!-- Groups/Lists -->
		<div class="lists">
		    <p class="lists-label">My lists</p>
		    <div class="lists-holder">
		        {{range .Lists}}
		        	{{if not .Pinned}}
		        		{{template "list-item" (dict "List" . "SelectedList" $.Persistence.ListId)}}
		        	{{end}}
		        {{end}}
		    </div>
		</div>
	</div>
{{end}}

{{define "list-item"}}
	<rm-list-nav
		data-id="{{itoa .List.ID}}"
		data-name="{{.List.Name}}"
		data-colour="{{.List.Colour}}"
		data-icon="{{.List.Icon}}"
		{{if .List.Pinned}}data-pinned{{end}}
		data-position="{{itoa .List.Position}}"
		data-filter="{{.List.FilterBy}}"
		draggable="true">
        <label
            class="list"
            hx-get="{{concat "/partials/lists/" (itoa .List.ID)}}"
            hx-trigger="change"
            hx-target=".main"
        >
            <span class="ident icon {{.List.Icon}}"></span>
            <span class="name">{{.List.Name}}</span>
	        <span class="count">{{len .List.Tasks}}</span>
			{{if not .List.Base}}
			<div class="settings">
	            <span class="icon ellipsis-vertical-icon"></span>
            </div>
			{{end}}
            {{if eq .SelectedList .List.ID}}
            	<input class="hidden" type="radio" name="list-nav" value="{{itoa .List.ID}}" checked/>
            {{else}}
            	<input class="hidden" type="radio" name="list-nav" value="{{itoa .List.ID}}"/>
            {{end}}
        </label>
    </rm-list-nav>
{{end}}

{{define "sidebar-footer"}}
	<footer>
        {{template "list-modal" .}}
        <div class="footer-actions">
            <button class="add-list">
                <span class="add-list--icon"></span>
                <span>Add list</span>
            </button>
        </div>
    </footer>
{{end}}

{{define "list-modal"}}
	<dialog class="list-form-container">
        <form
        hx-post="/partials/lists/create"
        method="POST"
        hx-trigger="submit, keyup[enterKey]"
        hx-target=".lists__container"
        hx-on::after-request="this.reset();this.parentElement.close()">
            <input
                class="new-list"
                name="new-list"
                type="text"
                value=""
                placeholder="List name"
                required
                minlength="3"
                maxlength="255"
                hx-validate="true"/>
            <label class="checkbox__container">
               	<span>Pin</span>
               	<input class="hidden" name="pin" type="checkbox" value="1"/>
               	<span class="checkmark"></span>
            </label>
            <fieldset class="swatch-fieldset">
                {{range $i, $colour := swatchColours}}
                    <label>
                        {{if eq $i 0}}
                            <input type="radio" name="swatch" class="hidden" value="{{$colour}}" checked/>
                        {{else}}
                            <input type="radio" name="swatch" class="hidden" value="{{$colour}}"/>
                        {{end}}
             			<div class="swatch"></div>
              		</label>
                {{end}}
            </fieldset>
            <fieldset class="icon-fieldset">
                {{range $i, $icon := iconsList}}
                    <label>
                        {{if eq $i 0}}
                        <input type="radio" name="icon" class="hidden" value="{{$icon}}" checked/>
                        {{else}}
                            <input type="radio" name="icon" class="hidden" value="{{$icon}}"/>
                        {{end}}
                        <div class="icon-selector {{$icon}}"></div>
              		</label>
                {{end}}
            </fieldset>
           	<details>
          		<summary>
            		<div class="summary">
              			<span class="icon filter-icon"></span>
                 		<span>Filters</span>
              		</div>
            	</summary>
               	<fieldset class="filters-fieldset">
                	<div>
		            <label for="include">Include</label>
		            <select name="include">
						<option value="" selected>No Filter</option>
						<option value="OR">Any</option>
						<option value="AND">All</option>
		            </select>
               	</div>
                <div>
		            <label for="completed">Completed</label>
		            <select name="completed">
						<option value="" selected>Any</option>
						<option value="TRUE">Yes</option>
						<option value="FALSE">No</option>
		            </select>
               	</div>
				<div>
		            <label for="important">Important</label>
		            <select name="important">
						<option value="" selected>Any</option>
						<option value="TRUE">Yes</option>
						<option value="FALSE">No</option>
		            </select>
				</div>
          		<div>
		            <label for="priority">Priority</label>
		            <select name="priority">
						<option value="" selected>Any</option>
		                {{range $i, $value := priorityValues}}
		                    <option value="{{itoa $i}}">{{$value}}</option>
		                {{end}}
		            </select>
          		</div>
				<div>
  					<label for="date">Date</label>
		            <select name="date">
						<option value="" selected>No Date</option>
						<option value="td">Today</option>
						<option value="wd">With Date</option>
						<option value="od">On Date</option>
						<option value="bd">Before a Date</option>
						<option value="af">After a Date</option>
						<option value="rg">On Range</option>
		            </select>
				</div>
				<div>
	            	<label for="from">Start Range</label>
					<input name="from" type="date">
	            </div>
				<div>
	            	<label for="to">End Range</label>
					<input name="to" type="date">
	            </div>
               	</fieldset>
           	</details>
            <input type="text" name="position" class="hidden" value="{{len .}}"/>
            <fieldset class="form-actions">
            	<div class="main-actions">
	               	<div class="btn default cancel-new-list">Cancel</div>
	                <button class="btn primary add-new-list" type="submit">Add</button>
	            </div>
				<button
					class="btn warning remove-list hidden"
					hx-params="none"
                   	hx-target=".lists__container">Delete</button>
            </fieldset>
        </form>
    </dialog>
{{end}}
