@layer component {
    .header__start {
        display: flex;
        align-items: center;
        gap: var(--space);
    }
    .app__stage,
    .app__version {
        font-size: var(--text-small);
    }
    .app__version {
        font-weight: bold;
    }
    .app__logo {
        display: flex;
        align-items: center;
        width: var(--size-40);
        height: var(--size-40);
        justify-content: center;
        background-image: url("/assets/icons/logo.svg");
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .header-end {
        display: flex;

        > a {
            cursor: pointer;
            width: var(--size-40);
            height: var(--size-40);
            display: block;
            background-color: var(--base-colour);

            &:hover {
                background-color: var(--primary);
            }
        }
    }

    .logout-icon {
        mask: url("/assets/icons/logout-icon.svg") no-repeat 50%;
    }
}
