rm-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    background-color: var(--base-grey);
    overflow: hidden;

    &:has(.header input:checked) {
        --sidebar-width: 340px;
        --lists-visibility: inline;
        background-color: #fff;

        .pinned-lists {
            gap: 10px;
            padding: 10px;

            .list {
                flex: 1 0 150px;
                border: 2px solid var(--background);
            }
        }

        .list {
            padding: 10px 20px;
        }
    }
    .header {
        display: flex;
        align-content: center;
        border-bottom: 2px solid var(--background);
        padding: 10px;
    }
    .header > label {
        display: inline-flex;
    }

    .pinned-lists {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid var(--background);

        .list {
            padding: 10px;
        }
    }

    .lists {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .lists-holder {
        flex-grow: 1;
        flex-basis: 0;
        overflow: auto;
    }

    /* .list:has(input:checked) > .icon {
        background-color: var(--primary);
    } */

    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 2px solid var(--background);
        cursor: pointer;
        gap: var(--gap-10);

        .name {
            flex: 1 1 auto;
        }
    }
    .list span:not(.icon) {
        font-size: 0.8rem;
        display: var(--lists-visibility);
    }
    .list.hidden {
        display: none;
    }
    .list:hover {
        background-color: var(--base-grey);
    }
    .list .icon {
        background-color: var(--list-colour);
        width: 20px;
        height: 20px;
    }

    .count {
        text-align: center;
        font-weight: 600;
    }

    .lists-label {
        display: var(--lists-visibility);
        padding: 10px;
        margin: 0;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    footer {
        padding: 10px;
        border-top: 2px solid var(--background);
    }

    .footer-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
    }

    .new-list {
        width: 100%;
        color: var(--base-colour);
        font-size: 0.9rem;
        padding: 8px 6px;
        text-overflow: ellipsis;
        background-color: var(--base-grey);

        &:focus {
            outline: none;
        }
    }

    .add-list {
        display: flex;
        align-items: center;
        background: transparent;
        border: transparent;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        letter-spacing: 1px;
        gap: 10px;
        padding: 0;

        &:focus {
            outline: none;
        }

        span:not(.add-list--icon) {
            display: var(--lists-visibility);
        }
    }

    .add-list--icon {
        width: 20px;
        height: 20px;
        cursor: pointer;

        mask: url("/assets/icons/add-icon.svg");
        mask-repeat: no-repeat;
        mask-position: 50%;
        background-color: var(--base-colour);

        &:hover {
            background-color: var(--primary);
        }
    }

    .list-form-container {
        border: 0;
        box-shadow: 1px 2px 3px var(--base-colour);
    }

    form {
        --icon-colour: var(--base-colour);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;

        fieldset {
            display: flex;
            margin: 0;
            padding: 0;
            border: 0;
            gap: 10px;
        }

        label {
            border: 2px solid rgba(0, 0, 0, 0);
        }

        label:has(input:checked) {
            border: 2px solid var(--base-colour);
        }

        &:has(.swatch-fieldset label:nth-of-type(1) input:checked) {
            --icon-colour: var(--base-colour);
        }
        &:has(.swatch-fieldset label:nth-of-type(2) input:checked) {
            --icon-colour: var(--colour-fresh-blue-500);
        }
        &:has(.swatch-fieldset label:nth-of-type(3) input:checked) {
            --icon-colour: var(--colour-cyan-700);
        }
        &:has(.swatch-fieldset label:nth-of-type(4) input:checked) {
            --icon-colour: var(--colour-cyan-800);
        }
        &:has(.swatch-fieldset label:nth-of-type(5) input:checked) {
            --icon-colour: var(--colour-sunrise-yellow-1000);
        }
        &:has(.swatch-fieldset label:nth-of-type(6) input:checked) {
            --icon-colour: var(--colour-volcano-400);
        }
        &:has(.swatch-fieldset label:nth-of-type(7) input:checked) {
            --icon-colour: var(--colour-red-300);
        }
        &:has(.swatch-fieldset label:nth-of-type(8) input:checked) {
            --icon-colour: var(--colour-sunset-orange-600);
        }
        &:has(.swatch-fieldset label:nth-of-type(9) input:checked) {
            --icon-colour: var(--colour-lime-700);
        }
        &:has(.swatch-fieldset label:nth-of-type(10) input:checked) {
            --icon-colour: var(--colour-pink-500);
        }
        &:has(.swatch-fieldset label:nth-of-type(11) input:checked) {
            --icon-colour: var(--colour-indigo-400);
        }
    }

    .swatch-fieldset {
        label:nth-of-type(1) {
            --swatch: var(--base-colour);
        }
        label:nth-of-type(2) {
            --swatch: var(--colour-fresh-blue-500);
        }
        label:nth-of-type(3) {
            --swatch: var(--colour-cyan-700);
        }
        label:nth-of-type(4) {
            --swatch: var(--colour-cyan-800);
        }
        label:nth-of-type(5) {
            --swatch: var(--colour-sunrise-yellow-1000);
        }
        label:nth-of-type(6) {
            --swatch: var(--colour-volcano-400);
        }
        label:nth-of-type(7) {
            --swatch: var(--colour-red-300);
        }
        label:nth-of-type(8) {
            --swatch: var(--colour-sunset-orange-600);
        }
        label:nth-of-type(9) {
            --swatch: var(--colour-lime-700);
        }
        label:nth-of-type(10) {
            --swatch: var(--colour-pink-500);
        }
        label:nth-of-type(11) {
            --swatch: var(--colour-indigo-400);
        }
    }

    .swatch,
    .icon-selector {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }

    .swatch {
        background: var(--swatch);
    }

    .icon-selector {
        background: var(--icon-colour);
    }
}
