{{define "tasks-page"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "meta"}}
		{{template "app-styles" .}}
	</head>
	<body hx-headers='{"X-CSRF-Token": "{{.CSRFToken}}"}'>
		{{template "header"}}
		<rm-tasks-app>
			<!-- left column -->
			{{template "sidebar" .}}
			<!-- center column -->
			<div class="main" role="main">
				{{if eq .Persistence.ListId 0}}
					{{template "landing-screen"}}
				{{else}}
					{{template "persisted-list-content" .}}
				{{end}}
			</div>
			<!-- right column -->
			<aside class="details"></aside>
		</rm-tasks-app>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
{{end}}
