$red-100: hsl(0, 100%, 90%);
$red-200: hsl(0, 100%, 80%);
$red-300: hsl(0, 100%, 70%); // delete button color
$red-400: hsl(0, 100%, 60%);
$red-500: hsl(0, 100%, 50%);
$red-600: hsl(0, 100%, 40%);
$red-700: hsl(0, 100%, 30%);
$red-800: hsl(0, 100%, 20%);
$red-900: hsl(0, 100%, 10%);
$blue-100: hsl(208, 100%, 90%);
$blue-200: hsl(208, 100%, 80%);
$blue-300: hsl(208, 100%, 70%);
$blue-400: hsl(208, 100%, 60%);
$blue-500: hsl(208, 100%, 50%); // primary
$blue-600: hsl(208, 100%, 40%);
$blue-700: hsl(208, 100%, 30%); // logo secondary
$blue-800: hsl(208, 100%, 20%);
$blue-900: hsl(208, 100%, 10%);
$neutral-100: #ffffff;
$neutral-200: #fafafa;
$neutral-300: #f5f5f5;
$neutral-400: #ededed;
$neutral-500: #d9d9d9;
$neutral-600: #cacfd2;
$neutral-700: #8c8c8c;
$neutral-800: #595959;
$neutral-900: #414141;
$neutral-1000: #262626;
$neutral-1100: #1f1f1f;
$neutral-1200: #141414;
$neutral-1300: #000000;
