{{define "app-styles"}}
<meta name="csrf-token" content="{{.CSRFToken}}" />
<!--<link href="/assets/css/fonts.css" rel="stylesheet" />-->
<link href="/assets/css/reset.css" rel="stylesheet" />
<link href="/assets/css/styles.css" rel="stylesheet" />
<link href="/assets/css/base.css" rel="stylesheet" />
<link href="/assets/css/components/sidebar.css" rel="stylesheet" />
<link href="/assets/css/components/listNavigation.css" rel="stylesheet" />
<link href="/assets/css/components/appSwitcher.css" rel="stylesheet" />
<link href="/assets/css/components/settingsSwitcher.css" rel="stylesheet" />
<link href="/assets/css/apps/tasks.css" rel="stylesheet" />
<script src="/assets/js/libs/htmx.min.js"></script>
<script type="module" src="/assets/js/components/details.js"></script>
<script type="module" src="/assets/js/components/sidebar.js"></script>
<script type="module" src="/assets/js/components/listNavigation.js"></script>
<script type="module" src="/assets/js/components/appSwitcher.js"></script>
<script type="module" src="/assets/js/components/settingsSwitcher.js"></script>
<script type="module" src="/assets/js/apps/tasks/tasks.js"></script>
{{end}} {{define "tasks-page"}}
<!doctype html>
<html lang="en">
    <head>
        {{template "meta"}} {{template "app-styles" .}}
    </head>
    <body hx-headers='{"X-CSRF-Token": "{{.CSRFToken}}"}'>
        {{template "header"}}
        <rm-tasks-app>
            <!-- left column -->
            {{template "sidebar" .}}
            <!-- center column -->
            <div class="main" role="main">
                {{if eq .Persistence.ListId 0}} {{template "landing-screen"}} {{else}} {{template
                "persisted-list-content" .}} {{end}}
            </div>
            <!-- right column -->
            <aside class="details"></aside>
        </rm-tasks-app>
        <script src="/assets/js/apps/tasks/main.js" defer></script>
    </body>
</html>
{{end}}
