package web

templ Header() {
    <header>
        <div class="header__start">
            <!-- logo -->
            <span class="app__logo"></span>
            <!-- app name -->
            <span class="app__name">RMINDER</span>
        </div>
    </header>
}
