@import "../reset.css";
@import "../styles.css";
@import "../base.css";
@import "../components/sidebar.css";
@import "../components/listNavigation.css";
@import "../components/appSwitcher.css";
@import "../components/settingsSwitcher.css";
@import "../apps/tasks.css";
