
package web

templ PremiumPaymentCancelled() {
	@Base() {
	    <div>
            <h1>Payment Cancelled</h1>
            <p>You can still use the free version of Rminder.</p>
            <p>
                <a href="/" class="btn btn-primary">Go back to Rminder</a>
            </p>
		</div>
	}
}