package web

templ PremiumPaymentSuccessful() {
	@Base() {
		<div>
			<h1>Thank you for your payment!</h1>
			<p>You are now a premium user.</p>
			<p>Enjoy the premium features.</p>
			<p>
				<a href="/" class="btn btn-primary">Go back to Rminder</a>
			</p>
		</div>
	}
}
